.tagged-content{
  color: #e3e3e3c2;
  padding-top: 4px;
  padding-bottom: 6px;
  border-radius: 4px;
  margin-top: -10px;
  padding-left: 10px;
  padding-right: 35px;
  font-size: x-small;
}

.tagged-content > p {
    font-size: inherit;
    margin-bottom: auto;
}

.received-tagged-content{
  background: #4b5771;
}

.sent-tagged-content{
  background: #685898;
}


.tagged-message-owner-name {
    width: 100%;
    font-size: small;
}


////////
/* .close {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 0%;
  padding: 12px 16px;
  transform: translate(0%, -50%);
}*/
.close:hover {background: #bbb;}

.close {
    float: right;
    font-size: large;
    font-weight: 100;
    line-height: 1;
    color: #840000;
    cursor: pointer;
    /* text-shadow: 0 1px 0 #fff; */
    opacity: 8.5;
}


.input-tagged-content {
    /* color: #e3e3e3c2; */
    padding-top: 4px;
    padding-bottom: 6px;
    border-radius: 4px;
    margin-top: -10px;
    padding-left: 10px;
    padding-right: 8px;
    font-size: x-small;
}
.at-input {
    /* position: absolute; */
    /* top: -31px;
    background: #7e7694;
    color: #ffffff;
    border: 0.1px solid #afafaf;
    box-shadow: -1px 0px 10px 0px #a38d8d; */
    background: #f7f7f7;
    color: #000000;
    border: 0.1px solid #afafaf;
    box-shadow: inset -1px 0px 11px 0px #ffffff17;
}
