#contacts {
  height: 700px;
  max-height: 82vh;
  /* border-right: 3px solid #0672bf; */
}
span#spanner {
    color: yellow;
}
.contact-header {
  /* box-shadow: -2px 1px 3px 0px #444444; */
  border-bottom: 1px solid #daebfb;
  font-weight: 200;
}
.chat-header{
  /* min-height: 10vh;
  max-height: 10vh;
  padding: .75rem 1.25rem; */
  margin-top: 6px;
  max-height: 15vh;
  padding: 0.4rem 0rem 0.4rem 0.9rem;
  margin-bottom: 0;
  background-color: rgba(0,0,0,.03);
  box-shadow: -3px 5px 12px 1px #898994;
  /* border-bottom: 1px solid rgba(0,0,0,.125); */
}
.chat-body{
  min-height: 72vh;
  max-height: 72vh;
}
.chat-footer{
  /* padding-top: 10px;
   bottom: 0px;
  position: sticky;
  position: inherit;
  min-height: 10vh;
  max-height: 10vh */
}

.message-item{
  margin-top: 2px;
  margin-bottom: 2px;
}

.message{
  position: relative;
  display: block;
  padding: .75rem 1.25rem;
  background-color: #eaeaea;
  width: max-content;
  max-width: 80%;
  color: black;
  border-radius: 9px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}
.left{
  float: left;
  background-color: #5a667f;
  color: #ffffff;
}
.right{
  float: right;
  color: #eaeaea;
  background-color: #5f4d97
}
.chat{
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  display: none;
  box-shadow: -3px 6px 20px 0px #606973;
}
.active{
  display: block;
}
.user{
  // width: 100%;
  position: relative;
  display: block;
  padding: .75rem 1.25rem;
  background-color: #eaeaea;
  width: max-content;
  max-width: 100%;
  color: black;
  border-radius: 9px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}
.center-aligned{
  padding: 12px 0px 0px 0px;
}
.contact{
  margin: 14px 0px 0px 0px;
  /* border-bottom: 1.8px solid #0672bf; */
  border-radius: 5px;
  height: 51px
}
b{
  font-size: 14px;
}
i,p{
  font-size: 13px;
}
.highlight{
  border-radius: 14px;
  cursor: pointer;
  box-shadow: inset 1px 1px 20px 10px #999cffb8;
}
.box-highlight{
  /* box-shadow: -1px -1px 9px 2px #7e54ff94; */
  /* box-shadow: -1px 0px 4px 2px #188bef; */
  border-radius: 8px;
  /* box-shadow: inset 1px 1px 20px 10px #999cffb8; 776eff */
  /* box-shadow: inset 1px 1px 20px 10px #776eff; */
  font-weight: 500;
}

p.font-12{
  font-size: 17px;
  margin-bottom: -2px;
}

.row.search-result {
    border-bottom: 1px solid #b7b8bc;
    border-top: 1px solid #b7b8bc;
    margin-top: 5px;
    padding-top: 13px;
    padding-bottom: 3px;
}
.modal-body{
  min-height: 65vh;
  max-height: 70vh;
}

.blue-nav{
  background-color: #0672bf;
  width: 100%;
}

.add-friend-button{

}

#friends-tab-opener{
  margin-top: 10px;
  text-align: center;
  width: 100%;
  /* vertical-align: middle; */
  /* height: 100%; */
  /* color: #007bff;
  border-color: #007bff; */
}
